/*Statistics Table*/
#content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#content-table thead tr {
  background-color: #c00;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

#content-table th,
#content-table td {
  padding: 12px 15px;
  text-align: center;
}

#content-table tbody tr {
  border-bottom: 1px solid #444;
  text-align: center;
}

#content-table tbody tr:nth-of-type(even) {
  background-color: #888;
  color: black;
}

#content-table tbody tr:nth-of-type(odd) {
  background-color: #444;
  color: black;
}

#content-table tbody tr:last-of-type {
  border-bottom: 2px solid #c00;
}

#content-table tbody tr.active-row {
  font-weight: bold;
  color: #c00;
}

#content-table-selector {
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#content-table-selector thead tr {
  background-color: #c00;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

#content-table-selector th {
  padding: 12px 15px;
  text-align: center;
}

#content-table-selector td:not(occur) {
  padding: 0px;
  background-color: inherit;
}

#content-table-selector td#occur {
  padding: 12px 15px;
  background-color: inherit;
}

#content-table-selector tbody tr {
  border-bottom: 1px solid #444;
  text-align: center;
}

#content-table-selector tbody tr:nth-of-type(even) {
  background-color: #888;
  color: black;
}

#content-table-selector tbody tr:nth-of-type(odd) {
  background-color: #444;
  color: black;
}

#content-table-selector tbody tr:last-of-type {
  border-bottom: 2px solid #c00;
}

#content-table-selector tbody tr.active-row {
  font-weight: bold;
  color: #c00;
}

.side_nav button {
  background-color: #0d0e0e;
  color: #ffffff;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  width: 280px;
  display: block; /* Make the buttons appear below each other */
  outline: none;
  float: left;
}

.nav_btn {
  clear: both;
}

.side_nav :hover {
  color: #cc0000;
}

.side_nav .active {
  color: #cc0000;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.nav_bar {
  align-self: start;
  position: absolute;
}

#ResetUsername {
  text-align: left;
  display: none;
}

#ResetPassword {
  text-align: left;
  display: none;
}

#ShowStatistics {
  text-align: center;
  display: none;
}

#map {
  visibility: hidden;
}

#username-help-block {
  color: #cc0000;
}

#password-help-block {
  color: #cc0000;
}
